.circleci
.ecs
.git
.nyc_output
coverage
node_modules
tasks
lib.old
lib/**/*.test.js

.gitignore
.mocharc
.travis.yml
goss.yaml
nconf.json
nodemon.json
README.md
package-lock.json
yarn-error.log
yarn.lock
